p.caption {
  color: #777;
  margin-top: 10px;
}

table > caption {
  caption-side: top;
  font-size: 1rem;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.csl-entry {
  padding-top: 10px;
  margin-left: 2em;
  text-indent: -2em;
}
